// Neat settings
//$disable-warnings: false;
//$column: 4.2358em;
//$gutter: 1.618em;
//$grid-columns: 12;
//$max-width: 1200px;
//$border-box-sizing: true;
//$default-feature: min-width;
//$default-layout-direction: LTR;
//$visual-grid: false;
//$visual-grid-color: #eee;
//$visual-grid-index: back;
//$visual-grid-opacity: 0.4;

// Neat breakpoints
$medium-screen: 600px;
$large-screen: 900px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// Screen modes
$mode-tab: $medium-screen;
$mode-horizontalBar: $large-screen;

// Columns
$columns-sidebar: 3;
$columns-sidebar--twoSidebars: 3;
$columns-content: 12;
$columns-content--oneSidebar: 9;
$columns-content--twoSidebars: 6;
