// Bourbon settings
//$asset-pipeline: true;
//$output-bourbon-deprecation-warnings: true;
//$em-base: 14px;
$prefix-for-webkit: false;
$prefix-for-mozilla: false;
$prefix-for-microsoft: false;
$prefix-for-opera: false;
$prefix-for-spec: false;

// Typography
$fontFamily-base: sans-serif;
$fontFamily-heading: sans-serif;

// Font sizes
$fontSize-base: 1em;
$fontSize-h1: 1.6em;
$fontSize-h2: 1.4em;
$fontSize-h3: 1.3em;
$fontSize-h4: 1.2em;
$fontSize-h5: 1.1em;
$fontSize-h6: 1.0em;

// Line heights
$lineHeight-base: 1.5;
$lineHeight-heading: 1.2;

// Font weights
$fontWeight-base: 400;
$fontWeight-bold: 600;
$fontWeight-thin: 200;

// Border radii
$borderRadius-base: 0;
$borderRadius-button: 6px;

// Spacing
$spacing-base: $lineHeight-base * 1em;
$spacing-fixed: 1.5rem;
$spacing-small: $spacing-base / 2;

// Z-indexes
$zIndex-base: 0;

// Named colors
$lightGray: #e9e9e9;
$mediumGray: #555;
$darkGray: #38383a;
$blue: #4b68f1;

// Assigned colors
$color-action: $blue;
$color-actionAccent: white;
$color-background: white;
$color-background--alternate: $lightGray;
$color-background--medium: $mediumGray;
$color-border: $lightGray;
$color-border--medium: #909090;
$color-border--strong: $mediumGray;
$color-input: $darkGray;
$color-button: $color-action;

// Font colors
$fontColor-base: $mediumGray;
$fontColor-heading: $darkGray;
$fontColor-footer: white;
$fontColor-utility: white;
$fontColor-button: $darkGray;

// Borders
$borderStyle-base: solid;
$borderWidth-base: 1px;

// Box shadows
$boxShadow-base: 0 0 3px $color-border;
$boxShadow-form: none;

// Forms
$form-boxShadow: inset 0 1px 3px rgba(#000, 0.06);
$form-boxShadow--focus: $form-boxShadow, 0 0 5px adjust-color($color-action, $lightness: -5%, $alpha: -0.3);

// Animations
$duration-base: 150ms;
$timing-base: ease;
