// Base variables
$fontSize-h2: 1.6em !default;

// Component variables
$AluminumPhoneNumberListBlock-columns: 5 !default;
$AluminumPhoneNumberListBlock-background: none !default;
$AluminumPhoneNumberListBlock-titleMargin: 0 !default;
$AluminumPhoneNumberListBlock-titleFontSize: $fontSize-h2 !default;
$AluminumPhoneNumberListBlock-minHeight: none !default;

.Block.Block--aluminum-phone-number-list {
  @include span-columns($AluminumPhoneNumberListBlock-columns);

  background: $AluminumPhoneNumberListBlock-background;
  min-height: $AluminumPhoneNumberListBlock-minHeight;

  .Block-title {
    margin: $AluminumPhoneNumberListBlock-titleMargin;
    font-size: $AluminumPhoneNumberListBlock-titleFontSize;
  }
}
