$Footer-titleFontSize: 1.2em !default;
$AluminumPhoneNumberList-columns: 5 !default;
$AluminumPhoneNumberList-background: none !default;
$AluminumPhoneNumberList-titleMargin: 0 0 0 9.5rem !default;
$AluminumPhoneNumberList-titleFontSize: $Footer-titleFontSize !default;
$AluminumPhoneNumberList-marginLeft: 15rem !default;
$AluminumPhoneNumberList-color: white !default;
$AluminumPhoneNumberList-fontSize: 1em !default;
$AluminumPhoneNumberList-itemMargin: 0 !default;

.Block.Block--aluminum-phone-number-list {
  @include span-columns($AluminumPhoneNumberList-columns);

  background: $AluminumPhoneNumberList-background;
  min-height: 175px;

  .Block-title {
    margin: $AluminumPhoneNumberList-titleMargin;
    font-size: $AluminumPhoneNumberList-titleFontSize;
  }
}

.AluminumPhoneNumberList {
  margin-left: $AluminumPhoneNumberList-marginLeft;
  color: $AluminumPhoneNumberList-color;
  font-size: $AluminumPhoneNumberList-fontSize;

  .AluminumPhoneNumberList-title {
    float: left;
    clear: both;
    font-weight: normal;
    margin: $AluminumPhoneNumberList-itemMargin;
  }

  .AluminumPhoneNumberList-title::after {
    padding: 0 0.5em;
    content: "\2022";
  }

  .AluminumPhoneNumberList-definition {
    float: left;
  }

  .AluminumPhoneNumberList-link {
    color: $AluminumPhoneNumberList-color;
  }
}
