$yellow: yellow !default;
$heading-fontFamily: sans-serif !default;
$AluminumPhoneNumber-color: $yellow !default;
$AluminumPhoneNumber-fontSize: 1.2em !default;
$AluminumPhoneNumber-fontFamily: $heading-fontFamily !default;

.Block.Block--aluminum-phone-number {
  @include span-columns(3);
}

.AluminumPhoneNumber {
  font-size: $AluminumPhoneNumber-fontSize;
  font-family: $AluminumPhoneNumber-fontFamily;

  .AluminumPhoneNumber-link {
    color: $AluminumPhoneNumber-color;
    cursor: text;

    &:hover {
      color: $AluminumPhoneNumber-color;
    }
  }
}
