// Default variables
$lightGray: #ccc !default;
$darkGray: #323232 !default;

// Component variables
$BreadcrumbSection-margin: 1rem 0 0 0 !default; // REMs so it's not dependent on font size
$BreadcrumbSection-background: $lightGray !default;
$BreadcrumbSection-border: 1px solid $darkGray !default;

.BodySection--breadcrumb {
  background: $BreadcrumbSection-background;
  border: $BreadcrumbSection-border;
  border-right-style: none;
  border-left-style: none;
  margin: $BreadcrumbSection-margin;
}
