$darkGray: #333 !default;
$mediumGray: #666 !default;
$lightGray: #ccc !default;

$Breadcrumb-background: $lightGray !default;
$Breadcrumb-border: 1px solid $darkGray !default;
$Breadcrumb-color: $mediumGray !default;
$Breadcrumb-fontSize: 0.9em !default;

.l-Section--breadcrumb {
  background: $Breadcrumb-background;
  border: $Breadcrumb-border none;
  margin: 1rem 0; // REMs so it's not dependent on font size
}

.Breadcrumb {
  color: $Breadcrumb-color;
  font-size: $Breadcrumb-fontSize;
  padding: 0.5em 0;
}
