// Base variables
$fontSize-base: 1em !default;

// Component variables
$CopyrightBlock-fontSize: $fontSize-base !default;
$CopyrightBlock-columns: 6 !default;

.Block.Block--aluminum-copyright {
  @include span-columns($CopyrightBlock-columns);

  .Block-content {
    font-size: $CopyrightBlock-fontSize;

    p {
      margin: 0;
    }
  }
}
