// Base variables
$mediumGray: gray !default;
$fontColor-footer: white !default;
$color-background--medium: $mediumGray !default;

// Component variables
$FooterFormInput-background: $color-background--medium !default;
$FooterFormInput-textColor: $fontColor-footer !default;
$FooterFormInput-borderColor: $fontColor-footer !default;
$FooterFormInput-topBorder: 2px solid $FooterFormInput-borderColor !default;
$FooterFormInput-padding: 0.5em !default;

.Footer {
  .FormItem--type-item,
  .TextArea,
  .FormItem--type-textfield .FormItem-input,
  .FormItem--type-email .FormItem-input {
    background: $FooterFormInput-background;
    color: $FooterFormInput-textColor;
    border: 0;
    border-top: $FooterFormInput-topBorder;
    padding: $FooterFormInput-padding;

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      color: $fontColor-footer;
    }
  }

  // Customize text-only form items without an input field
  .FormItem--type-item {
    border-top-color: darken($FooterFormInput-borderColor, 15%);
    color: darken($FooterFormInput-textColor, 15%);
    cursor: default;
  }
}
