// Base variables
$color-footerText: white !default;
$fontSize-base: 1em !default;
$fontWeight-bold: 600 !default;

// Component variables
$FooterMenu-textColor: $color-footerText !default;
$FooterMenu-fontSize: $fontSize-base !default;
$FooterMenu-fontWeight: bold !default;
$FooterMenu-textAlign: right !default;
$FooterMenu-itemPadding: 1em !default;

@include InlineMenu(
  $fontSize: $FooterMenu-fontSize,
  $fontColor: $FooterMenu-textColor,
  $fontWeight: $FooterMenu-fontWeight,
  $textAlign: $FooterMenu-textAlign,
  $itemPadding: $FooterMenu-itemPadding,
  $componentName: "Menu",
  $modifier: "footer"
);
