$fontSize-h2: 1.6em !default;

// Component variables
$FooterBlock-titleFontSize: $fontSize-h2 !default;

.Block.Block--region-footer-top {
  .Block-title {
    font-size: $FooterBlock-titleFontSize;
  }
}
