// Base variables
$blue: #477dca !default;
$mediumGray: #555 !default;

// Component variables
$MainMenu-fontSize: 1.2em !default;
$MainMenu-color: $mediumGray !default;
$MainMenu-color--active: $blue !default
$MainMenu-textAlign: right !default;
$MainMenu-itemMargin: 0 0.5em !default;
$MainMenu-linkBorderBottom: 0.2em solid transparent !default;
$MainMenu-linkBorderBottom--active: 0.2em solid $blue !default;

.Menu.Menu--main {
  font-size: $MainMenu-fontSize;
  text-align: $MainMenu-textAlign;
  margin-top: 0.25em;

  .Menu-item {
    display: inline-block;
    margin: $MainMenu-itemMargin;
  }

  .Menu-link {
    color: $MainMenu-color;
    border-bottom: $MainMenu-linkBorderBottom;

    &:hover,
    &:active,
    &.Menu-link--active {
      color: $MainMenu-color--active;
      border-bottom: $MainMenu-linkBorderBottom--active;
    }
  }
}
