$blue: #477dca !default;

$SearchBlock-submitColor: white !default;
$SearchBlock-submitBackground: $blue !default;
$SearchBlock-submitBorder: 1px solid $blue;

.Block.Block--search-form-block {
  @include span-columns(2);

  .Form {
    .FormItem {
      float: left;
      margin: 0;

      &.FormItem--type-search {
        width: 75%;
      }

      &.FormItem--keys {
        .FormItem-input {
          margin-bottom: 0;
        }
      }
    }

    .FormItem-input.form-submit {
      width: 100%;
      margin: 0;
      padding: .7em 1em;
      border-radius: 0;
      background-color: $SearchBlock-submitBackground;
      border: $SearchBlock-submitBorder;
      color: $SearchBlock-submitColor;
    }

    .Form-wrapper {
      float: left;
      width: 25%;
      margin: 0;
    }
  }
}
