// Base variables
$lightGray: #eee !default;

// Component variables
$SidebarSection-background: $lightGray !default;
$SidebarSection-padding: 1.5em 1em !default;

.PageSection--sidebar {
  padding: $SidebarSection-padding;
  background-color: $SidebarSection-background;
}
