// Base variables
$yellow: yellow !default;
$mediumGray: #555 !default;
$darkGray: #333 !default;
$fontColor-utility: $darkGray !default;

// Component variables
$UtilityMenu-fontColor: $fontColor-utility !default;
$UtilityMenu-fontColor--active: $mediumGray !default;
$UtilityMenu-itemBackground--active: $yellow !default;
$UtilityMenu-itemPadding: 0 0 0 .25em !default;
$UtilityMenu-linkPadding: 0.25em 0.5em !default;
$UtilityMenu-separatorColor: white;
$UtilityMenu-separatorWidth: 1px;
$UtilityMenu-textAlign: right !default;
$UtilityMenu-margin: 0.15em 0 0 !default;

@include InlineMenu(
  $fontColor: $UtilityMenu-fontColor,
  $itemPadding: $UtilityMenu-itemPadding,
  $fontColor--active: $UtilityMenu-fontColor--active,
  $textAlign: $UtilityMenu-textAlign,
  $margin: $UtilityMenu-margin,
  $linkPadding: $UtilityMenu-linkPadding,
  $separatorColor: $UtilityMenu-separatorColor,
  $separatorWidth: $UtilityMenu-separatorWidth,
  $textTransform: capitalize,
  $background--active: $UtilityMenu-itemBackground--active,
  $componentName: "Menu",
  $modifier: "utility"
);
