$base-fontSize: 1em !default;
$primaryColor: magenta !default;
$secondaryColor: cyan !default;
$mediumGray: #666 !default;

$Utility-color: white !default;
$Utility-backgroundColor: $primaryColor !default;
$Utility-borderColor: $secondaryColor !default;
$Utility-bottomBorder: 0.25em solid $Utility-borderColor !default;
$Utility-linkColor: white !default;
$Utility-linkColor--active: $mediumGray !default;
$Utility-linkBackgroundColor: transparent !default;
$Utility-linkBackgroundColor--active: $secondaryColor !default;

.l-Section--utility {
  background-color: $Utility-backgroundColor;
  color: $Utility-color;
  min-height: 1em;
  border-bottom: $Utility-bottomBorder;
  margin-bottom: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
