// Base variables
$base-fontSize: 1em;
$blue: #477dca !default;
$yellow: yellow !default;
$mediumGray: #aaa !default;

// Component variables
$Utility-color: white !default;
$Utility-backgroundColor: $blue !default;
$Utility-borderColor: $yellow !default;
$Utility-linkColor: white !default;
$Utility-linkColor--active: $mediumGray !default;
$Utility-linkBackgroundColor: transparent !default;
$Utility-linkBackgroundColor--active: $yellow !default;

.PageSection--utility {
  background-color: $Utility-backgroundColor;
  color: $Utility-color;
  min-height: 1em;
  border-bottom: 0.25em solid $Utility-borderColor;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
