{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% set title = primary ? 'Primary tabs' : 'Secondary tabs' %}

<nav class="LocalTasks LocalTasks--{{ primary? 'primary' : 'secondary' }}">
  <h2 class="LocalTasks-title u-visuallyHidden">{{ title|t }}</h2>
  <ul class="LocalTasks-list">{{ primary ?: secondary }}</ul>
</nav>
